@font-face {
  font-family: "Pokemon GB";
  src: url('../font/Pokemon\ GB.ttf');
}

@font-face {
  font-family: "Pokemon Solid";
  src: url('../font/Pokemon\ Solid.ttf');
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
}
body h1 {
    font-size: 45px;
    font-family: Pokemon Solid;
    padding-top: 20px;
    padding-bottom: 20px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 14px;
    margin-bottom: 0px;
}

body {
    font-family: Pokemon GB;
    font-size: 14px;
}

form input {
    border:1px dashed rgb(40, 167, 69);
    margin-bottom: 20px;
    }
 input:focus { 
    outline: none !important;
     border-color: rgb(40, 167, 69);
     box-shadow: 0 0 10px rgb(40, 167, 69);
}
img {
    width: 200px;
    padding-top: 0;
    padding-bottom: 0;
}


